<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script>

  </script>
</head>
<body>
<section class="findid-section">
  <h2>아이디 찾기</h2>
  <hr>
  <form action="" method="post">
    <div class="table">
      <table>
        <div>
          <label class="name" name="name">이름</label>
        </div>
        <div>
          <input class="nametext" type="text" placeholder="이름 입력">
        </div>
        <div>
          <label class="email" name="email">이메일</label>
        </div>
        <div>
          <input class="emailtext" type="email" placeholder="이메일 입력">
          <button class="getCodeBtn">인증번호 받기</button>
          <input class="verificationCodetext" type="text" placeholder="인증번호 입력">
          <button class="verificationCode">확인</button>
        </div>
      </table>
    </div>
    <div class="note">
      회원가입시 이메일 주소와 입력한 이메일 주소가 같아야, 인증번호를 받을 수 있습니다.
      <br>인증번호를 입력 후 확인 버튼을 누르세요.
    </div>
    <div class="bottom">
      <button class="cancelBtn">취소</button>
      <button class="nextBtn">다음</button>
    </div>
  </form>
</section>
</body>
</html>